<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Area 51</title>

</head>
<body>
    <div class="container">
		<div id="phaser-game" class="content">
		</div>
	</div>
</body>
</html>